.sidebar {
  min-width: 20%;
  min-height: 150px;
  float: left;
  color: white;
  background-color: green;
}

.content {
  float: right;
  color: white;
  width: 70%;
}

#number {
  color: black;
}

.jumbotron0 {
  min-height: 100vh;
  background-image: url(../img/ping.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.jumbotron1 {
  text-align: center;
  color: white;
  background-color: purple;
}

.h2 {
  color: orange;
}
